# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*
.venv/
ENV/
env/
env.bak/
venv.bak/
astro_env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Unit test / coverage reports
.coverage
.cache
.pytest_cache/
htmlcov/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
